<div class="search-bar">
  <input type="text" id="movie-search" placeholder="Search...">
  <button class="search-btn" id="searchButton">Search</button>
</div>

{{#if movieData}}
<div class="movie-details">
  <div class="movie-poster">
    <img src="{{ movieData.poster }}" alt="Movie Poster">
  </div>
  {{#if logged_in}}
    <div class="movie-info">
    <h1 class="movie-title">{{ movieData.title }}</h1>
    <p class="movie-data">Rating: {{ movieData.rated}}<br>Release Date: {{ movieData.released }}<br>Runtime: {{ movieData.runtime }}<br>Genre: {{ movieData.genre }}<br>Director: {{ movieData.director }}<br>Writer: {{ movieData.writer }}<br>Actor: {{ movieData.actor }}<br>Plot: {{ movieData.plot}}<br>Language: {{ movieData.language}}<br>Awards: {{ movieData.awards }}<br></p>
    </div>
  {{else}}
  <div class="movie-info">
    <h1 class="movie-title">{{ movieData.title }}</h1>
    <p class="movie-data">Release Date: {{ movieData.released }}<br>Genre: {{ movieData.genre }}<br>Director: {{ movieData.director }}</p>
  </div>
  {{/if}}
  <div class="review-form">
    <h2>Submit Your Review</h2>
    <form id="reviewForm">
      <input id="movieId" type="hidden" name="movieId" value="{{movieData.id}}">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Your Name" required>
      <label for="rating">Rating:</label>
      <select id="rating" name="rating" required>
        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
        <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
        <option value="3">&#9733;&#9733;&#9733;</option>
        <option value="2">&#9733;&#9733;</option>
        <option value="1">&#9733;</option>
      </select>
      <label for="review">Review:</label>
      <textarea id="review" name="review" placeholder="Your Review" rows="4" required></textarea>
      <button type="submit">Submit Review</button>
      <class id="new">
        <a href="/api/review">View Reviews</a>
      </class>
      
      <div class="reviews">
    {{#each reviewsData}}
      <div class="single-review">
        <h3> {{ reviewsData.rating }} stars</h3>
        <p>{{ reviewsData.content }}</p>
      </div>
    {{/each}}
  </div>
  </div>
  </form>
</div>
{{/if}}

<script src="/js/review.js"></script>

